body {
    background: white;
    font-family: 'Lucida Grande', arial, sans-serif;
    background: url(images/background.png);
    font-size: 12px;
}

* {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

svg {
    position: absolute;
    z-index: -1000;
    border: 1px solid red;
}

path {
    stroke: #555;
    fill: none;
    stroke-width: 2;
    stroke-linejoin: bevel;
}


/* view */

.view {
    position: absolute;
    min-width: 100px;
    min-height: 100px;
    border-radius: 5px;
    border: 1px solid #999;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);

    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transition-property: opacity, -webkit-transform;
    -moz-transition-property: opacity, -moz-transform;
    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
}

.view.closed {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
}

.view.search.animating {
    -webkit-transition-property: width, height;
    -moz-transition-property: width, height;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -webkit-transition-timing-function: ease-in-out;
}

.view > * {
    position: absolute;
    left: 0;
    right: 0;
}

.view .header {
    border-radius: 5px 5px 0 0;
    height: 20px;
    padding: 0 5px;
    top: 0;
}

.view .header > * {
    vertical-align: middle;
}

.view .header .icon {
    margin-right: 5px;
    width: 16px;
    height: 16px;
    display: none;
}

.view .header label {
    cursor: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    font-weight: bold;
}

.view .content {
    top: 20px;
    bottom: 16px;
    overflow: auto;
}

.view .resizer {
    z-index: 1000;
    background: url(images/resize.png);
    bottom: 0;
    right: 0;
    left: auto;
    height: 12px;
    width: 12px;
}

/* window */

.view.window {
    background: white;
}

.view.window .header {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,
				       from(#F3F3F3),
				       to(#D1D1D1));
    background-image: -moz-linear-gradient(#F3F3F3, #D1D1D1);
    border-bottom: 1px solid #BDBDBD;
}

.view.window .header label {
    color: #666;
    text-shadow: white 0px 1px 0px;
}

.view.window .footer {
    bottom: 0;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,
				       from(#fdfdfd),
				       color-stop(0.5, #F5f5f5),
				       color-stop(0.5, #ebebeb),
				       to(#efefef));
    background-image: -moz-linear-gradient(#fdfdfd,
				           #F5f5f5 50%,
				           #ebebeb 50%,
					   #efefef);
    border-top: 1px solid #ddd;
    height: 16px;
    border-radius: 0 0 5px 5px;
    padding: 0 5px;
}

.view.window .footer label {
    font-size: 10px;
    color: #555;
}

button {
    -webkit-user-select: none;
    -moz-user-select: none;
}

/* close */

button.close {
    z-index: 1000;
    top: 3px;
    left: auto;
    right: 3px;
    border: none;
    width: 14px;
    height: 14px;
    background: url(images/close.png);
    background-position: 0 0;
}

button.close:active {
    background-position: 14px 0;
}

button.close:hover {
    background-position: 28px 0;
}

/* note */

.view.note {
    width: 100px;
    width: 100px;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,
				       from(#FFFDC4),
				       to(#FFEE6E));
    background-image: -moz-linear-gradient(#FBF9C0, #FFEE6E);
}

.view.note .content {
    bottom: 0;
}

.view.note .header {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,
				       from(#FBF9C0),
				       to(#FAE969));
    background-image: -moz-linear-gradient(#FBF9C0, #FAE969);

    border-bottom: 1px solid #EEDD5D;
    text-shadow: #FDFBC2 0px 1px 0px;
    color: #AA9000;
}

.view.note .header .icon {
    display: inline-block;
    background: url(images/note.png);
}

.view.note textarea {
    background: transparent;
    border: none;
    resize: none;
    width: 100%;
    height: 100%;
    overflow: auto;
    outline: none;
    padding: 5px;
    margin-bottom: -5px;
}

/* search */

.view.search {
    min-height: 68px;
    min-width: 150px;
}

.view.search .header .icon {
    display: inline-block;
    background: url(images/search.png);
}

.view.search section:first-child {
    padding: 5px;
    background: #eee;
}

.view.search ul {
    border-top: 1px solid #BDBDBD;
    list-style-type: none;
}

.view.search li {
    padding: 5px;
    border-bottom: 1px solid #CCC;
}

.view.search input {
    width: 100%
}

/* editor */

.view.editor .header .icon {
    display: inline-block;
    background: url(images/editor.png);
}

.view.editor div.editor {
    height: 100%;
    overflow: auto;
}

div.editor .CodeMirror,
div.editor .CodeMirror-gutter {
    height: 100% !important;
}

.CodeMirror-gutter {
    overflow: hidden;
}

/* menu */

menu {
    position: absolute;
    display: none;
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    background: white;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    z-index: 1000;
}

menu.active {
    opacity: 1;
    display: block;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 3px 0;
}

menu command {
    padding: 3px 7px;
    display: block;
    cursor: default;
}

menu command:hover {
    background: #ddd;
}

/* browser */

.view.browser {
    min-height: 150px;
    min-width: 150px;
}

.view.browser li {
    padding: 2px 5px;
}

.view.browser.libraries .header .icon {
    display: inline-block;
    background: url(images/library.png);
}

/* workspace */

.workspace {
    z-index: -1000;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

/* spinner */

.spinner {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -webkit-transition-duration: 1000ms;
    -moz-transition-duration: 1000ms;
    z-index: -100;
}

.spinner.active {
    opacity: 1;
    background: url(images/spinner.gif) no-repeat center center;
}